#productos {
	margin-top: 104px;

	.tabs-content {
		height: calc(100vh - 152px) !important;

		.carousel-item {
			height: 100%;
			overflow-x: scroll;
		}
	}

	.collapsible-header {
		// border-radius: 10px;
	}

	.collapsible-body {
		border-bottom: 0;
	}

	//
	//
	// #productos-categorias {
	// 	background-image: url(/img/blur3.png);
	// 	background-position: center center;
	// 	background-size: cover;
	// }
	//
	// .categoria-item {
	//
	// 	.container {
	// 		margin: 1rem auto;
	// 		padding: 1rem;
	// 		background-color: white;
	// 	}
	// }
}
