{
  "name": "unitport-metal-web",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "gruntfile.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"gruntfile.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"gruntfile-dist.js\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "css/style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/style-dist.css\"}"
    },
    {
      "path": "js/main.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/main.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/main-dist.js\"}"
    },
    {
      "path": "js/plugins.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/plugins.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/plugins-dist.js\"}"
    },
    {
      "path": "js/vendor/modernizr-2.8.3.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/modernizr-2.8.3.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/modernizr-2.8.3.min-dist.js\"}"
    },
    {
      "path": "apple-touch-icon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon.png\",\"size\":3958,\"initialSize\":3958,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "tile-wide.png",
      "configJson": "{\"compiler-png\":{\"path\":\"tile-wide.png\",\"size\":1854,\"initialSize\":1854,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "tile.png",
      "configJson": "{\"compiler-png\":{\"path\":\"tile.png\",\"size\":3482,\"initialSize\":3482,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "pug/404.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"404.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "scss/materialize.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/materialize.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "pug/productos.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"productos.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "scss/_productos.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "pug/layouts/layout.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "pug",
      "scss",
      "css",
      "pug/layouts"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "pug/index.pug",
      "imports": [
        "pug/layouts/layout.pug",
        "pug/partials/contacto.pug",
        "pug/partials/header.pug",
        "pug/partials/footer.pug"
      ]
    },
    {
      "path": "pug/nosotros.pug",
      "imports": [
        "pug/layouts/layout.pug",
        "pug/partials/header.pug",
        "pug/partials/footer.pug"
      ]
    },
    {
      "path": "pug/productos.pug",
      "imports": [
        "pug/layouts/layout.pug",
        "pug/partials/header.pug",
        "pug/partials/footer.pug"
      ]
    },
    {
      "path": "scss/materialize.scss",
      "imports": [
        "scss/components/_prefixer.scss",
        "scss/components/_mixins.scss",
        "scss/components/_color.scss",
        "scss/components/_variables.scss",
        "scss/components/_normalize.scss",
        "scss/components/_global.scss",
        "scss/components/_badges.scss",
        "scss/components/_icons-material-design.scss",
        "scss/components/_grid.scss",
        "scss/components/_navbar.scss",
        "scss/components/_roboto.scss",
        "scss/components/_typography.scss",
        "scss/components/_transitions.scss",
        "scss/components/_cards.scss",
        "scss/components/_toast.scss",
        "scss/components/_tabs.scss",
        "scss/components/_tooltip.scss",
        "scss/components/_buttons.scss",
        "scss/components/_dropdown.scss",
        "scss/components/_waves.scss",
        "scss/components/_modal.scss",
        "scss/components/_collapsible.scss",
        "scss/components/_chips.scss",
        "scss/components/_materialbox.scss",
        "scss/components/forms/_forms.scss",
        "scss/components/_table_of_contents.scss",
        "scss/components/_sideNav.scss",
        "scss/components/_preloader.scss",
        "scss/components/_slider.scss",
        "scss/components/_carousel.scss",
        "scss/components/date_picker/_default.scss",
        "scss/components/date_picker/_default.date.scss",
        "scss/components/date_picker/_default.time.scss",
        "scss/components/forms/_input-fields.scss",
        "scss/components/forms/_radio-buttons.scss",
        "scss/components/forms/_checkboxes.scss",
        "scss/components/forms/_switches.scss",
        "scss/components/forms/_select.scss",
        "scss/components/forms/_file-input.scss",
        "scss/components/forms/_range.scss"
      ]
    },
    {
      "path": "scss/style.scss",
      "imports": [
        "scss/_index.scss",
        "scss/_productos.scss",
        "scss/_servicios.scss",
        "scss/_nosotros.scss"
      ]
    },
    {
      "path": "pug/layouts/layout.pug",
      "imports": [
        "pug/partials/header.pug",
        "pug/partials/contacto.pug",
        "pug/partials/footer.pug"
      ]
    },
    {
      "path": "scss/components/forms/_forms.scss",
      "imports": [
        "scss/components/forms/_input-fields.scss",
        "scss/components/forms/_radio-buttons.scss",
        "scss/components/forms/_checkboxes.scss",
        "scss/components/forms/_switches.scss",
        "scss/components/forms/_select.scss",
        "scss/components/forms/_file-input.scss",
        "scss/components/forms/_range.scss"
      ]
    },
    {
      "path": "pug/servicios.pug",
      "imports": [
        "pug/layouts/layout.pug",
        "pug/partials/header.pug",
        "pug/partials/footer.pug"
      ]
    },
    {
      "path": "pug/contacto.pug",
      "imports": [
        "pug/layouts/layout.pug",
        "pug/partials/header.pug",
        "pug/partials/footer.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "unitportmetal.com",
      "port": 21,
      "user": "uploader@unitportmetal.com",
      "password": "U/NHI(T%P=O)R$T%"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/pug",
      "/pug"
    ],
    "history": [
      {
        "file": "404.html",
        "ctime": "2017-01-30T17:49:04.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 348
      },
      {
        "file": "apple-touch-icon.png",
        "ctime": "2017-01-30T17:49:04.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 3958
      },
      {
        "file": "browserconfig.xml",
        "ctime": "2017-01-30T17:49:04.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 416
      },
      {
        "file": "crossdomain.xml",
        "ctime": "2017-01-30T17:49:04.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 610
      },
      {
        "file": "css/materialize.min.css",
        "ctime": "2017-01-31T07:49:35.000Z",
        "mtime": "2017-01-31T07:49:35.000Z",
        "size": 113902
      },
      {
        "file": "css/style.css",
        "ctime": "2017-04-19T17:14:10.000Z",
        "mtime": "2017-04-19T17:14:10.000Z",
        "size": 4561
      },
      {
        "file": "design/Web_Propuesta.pdf",
        "ctime": "2017-01-31T06:16:21.000Z",
        "mtime": "2017-01-31T06:12:26.000Z",
        "size": 35320023
      },
      {
        "file": "favicon.ico",
        "ctime": "2017-01-30T17:49:04.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 766
      },
      {
        "file": "fonts/roboto/Roboto-Bold.eot",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 20966
      },
      {
        "file": "fonts/roboto/Roboto-Bold.ttf",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 127744
      },
      {
        "file": "fonts/roboto/Roboto-Bold.woff",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 62876
      },
      {
        "file": "fonts/roboto/Roboto-Bold.woff2",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 49976
      },
      {
        "file": "fonts/roboto/Roboto-Light.eot",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 20940
      },
      {
        "file": "fonts/roboto/Roboto-Light.ttf",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 126792
      },
      {
        "file": "fonts/roboto/Roboto-Light.woff",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 62316
      },
      {
        "file": "fonts/roboto/Roboto-Light.woff2",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 49380
      },
      {
        "file": "fonts/roboto/Roboto-Medium.eot",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 21364
      },
      {
        "file": "fonts/roboto/Roboto-Medium.ttf",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 127488
      },
      {
        "file": "fonts/roboto/Roboto-Medium.woff",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 62980
      },
      {
        "file": "fonts/roboto/Roboto-Medium.woff2",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 50224
      },
      {
        "file": "fonts/roboto/Roboto-Regular.eot",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 21320
      },
      {
        "file": "fonts/roboto/Roboto-Regular.ttf",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 126072
      },
      {
        "file": "fonts/roboto/Roboto-Regular.woff",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 61736
      },
      {
        "file": "fonts/roboto/Roboto-Regular.woff2",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 49236
      },
      {
        "file": "fonts/roboto/Roboto-Thin.eot",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 21659
      },
      {
        "file": "fonts/roboto/Roboto-Thin.ttf",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 127584
      },
      {
        "file": "fonts/roboto/Roboto-Thin.woff",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 61628
      },
      {
        "file": "fonts/roboto/Roboto-Thin.woff2",
        "ctime": "2017-01-30T18:18:42.000Z",
        "mtime": "2016-04-02T11:02:22.000Z",
        "size": 48524
      },
      {
        "file": "humans.txt",
        "ctime": "2017-01-30T17:49:04.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 229
      },
      {
        "file": "img/blur1.png",
        "ctime": "2017-02-01T05:13:18.000Z",
        "mtime": "2017-02-01T10:55:00.000Z",
        "size": 336011
      },
      {
        "file": "img/blur2.png",
        "ctime": "2017-02-01T05:13:18.000Z",
        "mtime": "2017-02-01T10:55:00.000Z",
        "size": 302185
      },
      {
        "file": "img/blur3.png",
        "ctime": "2017-02-01T05:13:18.000Z",
        "mtime": "2017-02-01T10:55:00.000Z",
        "size": 349848
      },
      {
        "file": "img/fb-black.png",
        "ctime": "2017-02-01T07:04:16.000Z",
        "mtime": "2017-02-01T14:03:56.000Z",
        "size": 882
      },
      {
        "file": "img/fb.png",
        "ctime": "2017-02-01T07:04:13.000Z",
        "mtime": "2017-02-01T14:03:46.000Z",
        "size": 1073
      },
      {
        "file": "img/location-black.png",
        "ctime": "2017-02-01T07:04:16.000Z",
        "mtime": "2017-02-01T14:03:56.000Z",
        "size": 1439
      },
      {
        "file": "img/location.png",
        "ctime": "2017-02-01T07:04:13.000Z",
        "mtime": "2017-02-01T14:03:48.000Z",
        "size": 1741
      },
      {
        "file": "img/phone-black.png",
        "ctime": "2017-02-01T07:04:16.000Z",
        "mtime": "2017-02-01T14:03:56.000Z",
        "size": 948
      },
      {
        "file": "img/phone.png",
        "ctime": "2017-02-01T07:04:13.000Z",
        "mtime": "2017-02-01T14:03:48.000Z",
        "size": 1143
      },
      {
        "file": "index.html",
        "ctime": "2017-04-19T14:02:27.000Z",
        "mtime": "2017-04-19T14:02:27.000Z",
        "size": 11404
      },
      {
        "file": "js/main.js",
        "ctime": "2017-01-30T17:49:04.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 0
      },
      {
        "file": "js/plugins.js",
        "ctime": "2017-04-19T13:00:59.000Z",
        "mtime": "2017-04-19T13:00:59.000Z",
        "size": 1092
      },
      {
        "file": "js/vendor/jquery-3.1.1.min.js",
        "ctime": "2017-01-31T06:23:03.000Z",
        "mtime": "2017-01-31T06:23:03.000Z",
        "size": 86709
      },
      {
        "file": "js/vendor/materialize.js",
        "ctime": "2017-04-19T12:46:03.000Z",
        "mtime": "2017-04-19T12:46:03.000Z",
        "size": 317069
      },
      {
        "file": "js/vendor/materialize.min.js",
        "ctime": "2017-04-19T03:11:48.000Z",
        "mtime": "2017-04-19T03:11:48.000Z",
        "size": 145931
      },
      {
        "file": "js/vendor/modernizr-2.8.3.min.js",
        "ctime": "2017-01-30T17:49:04.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 15513
      },
      {
        "file": "nosotros.html",
        "ctime": "2017-04-19T13:57:43.000Z",
        "mtime": "2017-04-19T13:57:43.000Z",
        "size": 4882
      },
      {
        "file": "prepros.cfg",
        "ctime": "2017-01-30T18:06:58.000Z",
        "mtime": "2017-01-30T18:06:58.000Z",
        "size": 12181
      },
      {
        "file": "productos.html",
        "ctime": "2017-04-24T06:13:14.000Z",
        "mtime": "2017-04-24T06:13:14.000Z",
        "size": 11874
      },
      {
        "file": "robots.txt",
        "ctime": "2017-01-30T17:49:06.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 77
      },
      {
        "file": "tile-wide.png",
        "ctime": "2017-01-30T17:49:06.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 1854
      },
      {
        "file": "tile.png",
        "ctime": "2017-01-30T17:49:06.000Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 3482
      },
      {
        "file": "css/jquery.fullpage.min.css",
        "ctime": "2017-03-07T01:29:55.000Z",
        "mtime": "2017-03-01T13:05:16.000Z",
        "size": 3776
      },
      {
        "file": "img/logo.png",
        "ctime": "2017-03-07T01:38:34.000Z",
        "mtime": "2017-03-07T01:38:34.000Z",
        "size": 38171
      },
      {
        "file": "js/vendor/jquery.fullpage.extensions.min.js",
        "ctime": "2017-03-07T01:29:55.000Z",
        "mtime": "2017-03-01T13:05:16.000Z",
        "size": 35224
      },
      {
        "file": "js/vendor/jquery.fullpage.min.js",
        "ctime": "2017-03-07T01:29:55.000Z",
        "mtime": "2017-03-01T13:05:16.000Z",
        "size": 29984
      },
      {
        "file": "js/vendor/scrolloverflow.min.js",
        "ctime": "2017-03-07T01:32:48.000Z",
        "mtime": "2017-03-01T13:05:16.000Z",
        "size": 33011
      },
      {
        "file": "css/_servicios.css",
        "ctime": "2017-04-19T02:28:41.000Z",
        "mtime": "2017-04-19T02:28:41.000Z",
        "size": 28
      },
      {
        "file": "servicios.html",
        "ctime": "2017-04-24T06:15:17.000Z",
        "mtime": "2017-04-24T06:15:17.000Z",
        "size": 6192
      },
      {
        "file": "contacto.html",
        "ctime": "2017-04-19T13:58:45.000Z",
        "mtime": "2017-04-19T13:58:45.000Z",
        "size": 5929
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\",\"scss\"]},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\",\"scss\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\",\"pug\"],\"relative\":\"../\"},\"outputSuffix\":null}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\",\"scss\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\",\"pug\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\",\"pug\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\",\"pug\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\",\"pug\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}