extends layouts/layout.pug

block body
	#nosotros
		.row#logo
			.col.s12.m6.offset-m3.l4.offset-l4
				img.responsive-img(src="/img/blur3.png")
		
		.row#cards
			.col.s12.m6.l5.offset-l1
				.card.horizontal.padding-s
					.card-image
						img.circle.responsive-img(src="/img/blur1.png")
					.card-stacked
						.card-content
							h5.primary-text Juan Carlos Tapia
							p Licenciado en Negocios Internacionales
							
			.col.s12.m6.l5
				.card.horizontal.padding-s
					.card-image
						img.circle.responsive-img(src="/img/blur1.png")
					.card-stacked
						.card-content
							h5.primary-text José María Buenrostro
							p Ingeniero Industrial